#card-history-top {
    display: flex;
}
#card-history-bottom {
    display: none;
}

#notification-dropdown-menu {
    max-height: 400px;
    width: 500px;
}

#notification-dropdown-item {
    overflow:hidden; 
    overflow-y:scroll;
}

#notification-menu {
    font-size: 15px;
    font-size: 15px;
}

#notification-dropdown-item::-webkit-scrollbar {
    width: 5px;
}

#notification-dropdown-item::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 2px;
}

#notification-dropdown-item::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
}

@media screen and (max-width: 660px) {
    #notification-dropdown-menu {
        width: 97vw;
        right: -166%;
    }
}

@media screen and (max-width: 360px) {
    #notification-dropdown-menu {
        width: 100vw;
        right: -166.5%;
    }

    #notification-menu {
        font-size: 12px;
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    #card-history-top {
        display: none;
    }
    #card-history-bottom {
        display: block;
    }
}