<div class="row">
    <div class="col-12 p-0 mb-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="/dashboard">Lelang Aja</a>
            <ul class="navbar-nav ml-auto d-flex flex-row">
                <li class="nav-item dropdown my-auto px-4 px-md-2">
                    <a class="nav-link p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons align-middle">
                            notifications
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right position-absolute p-0" id="notification-dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="#" class="text-decoration-none text-dark">
                            <div class="card">
                                <div class="row no-gutters">
                                    <div class="col-2 h-100">
                                        <img class="w-100" src="https://www.metrilo.com/blog/wp-content/uploads/2017/03/personal-planner.jpg" alt="">
                                    </div>
                                    <div class="col-10">
                                        <div class="card-body py-1 px-2 h-100">
                                            <p>Pesan notifikasi</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="userName">User</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right position-absolute" aria-labelledby="navbarDropdown">
                        <a id="navEditProfile" class="dropdown-item" href="/edit-profile">Edit Profile</a>
                        <a id="navListUsers" class="dropdown-item d-none" href="/users">List users</a>
                        <a id="navAddProduct" class="dropdown-item" href="/add-product">Buat Lelang</a>
                        <a id="navFollowedAuctions" class="dropdown-item" href="/followed-auctions">Pelelangan yang
                            dimenangkan</a>
                        <a id="navSold" class="dropdown-item" href="/sold">Terjual</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>